<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html">
	  <title>Aviso de postagem</title>
  </head>
  <body>
<h2><b>Olá amigo <%= @amigoNomeCompleto %>:</b></h2>
<p>Alguém escreveu para você no site EuTeAjudo.org, na conversa com o assunto "<%= @conversaAssunto %>".</p> <br />
<p>Acesse agora: <a href="http://euteajudo.org">http://euteajudo.org</a></p>
<br />
<h3>EuTeAjudo.org</h3>
Ajudando a ajudar você <br /> <br />
  </body>
</html>
