<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html">
	  <title>Aviso de nova postagem de ajuda</title>
  </head>
  <body>
	<h2><b>Olá amigo <%= @amigoNomeCompleto %>:</b></h2>
	<p>Houveram novos pedidos de ajuda que precisam da atenção de um amigo. Veja abaixo a lista desses pedidos:<p>
	<p><strong>
	<% @conversaAssuntos .each do |assunto| %>
	 - <%= assunto %> <br />
	<% end %></strong>
	</p><br \>
	
	<p>Se puder, acesse o site <a href="http://euteajudo.org">http://euteajudo.org</a> e seja uma pessoa que faz a diferença.</p>
	<br />
	<h3>EuTeAjudo.org</h3>
	Ajudando a ajudar você <br /> <br />
  </body>
</html>
