<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html">
	  <title>Aviso de desbloqueio</title>
  </head>
  <body>
<h2><b>Olá amigo <%= @amigoNomeCompleto %>.</b></h2>
<p>Você foi desbloqueado pelo Amigo<%= @id_do_amigo %>! Ficamos muito feliz por dar essa notícia e acreditamos que isso se deve a um crescimento pessoal seu. Continue nos ajudando porque precisamos de você e não se afobe em procurar o Amigo<%= @id_do_amigo %> para tirar satisfações. Quem sabe essa é a hora que você mais pode ajudar demonstrando seu amor!</p>
<br />
<br />
<h3>EuTeAjudo.org</h3>
Ajudando a ajudar você <br /> <br />
  </body>
</html>
