<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html">
	  <title>Aviso de bloqueio</title>
  </head>
  <body>
<h2><b>Olá amigo <%= @amigoNomeCompleto %>.</b></h2>
<p>Infelizmente você foi bloqueado em todas as conversas que o Amigo<%= @id_do_amigo %> criou. Abaixo segue o motivo alegado por ele:</p><br />
<p><i>"<%= @motivo %>"</i></p><br /> 
<p>Acreditamos que fatos assim devem contribuir para seu amadurecimento. Não se deixe desanimar por ações assim e seja persistente. Apenas reflita sobre o ocorrido, mas continue nos ajudando porque precisamos de você. Quem sabe você consiga reverter esse quadro antes do que pensa!</p>
<br />
<br />
<h3>EuTeAjudo.org</h3>
Ajudando a ajudar você <br /> <br />
  </body>
</html>
