	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div style="width: 100%; float: left;padding: 10px 0 0px 10px;">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e1b55171a1363a2"></script>
			<!-- AddThis Button END -->
		</div>
		<div id="main" >	
			<h2><a href="/amigo/new/ajuda" title="">Se você precisa de ajuda</a></h2>			
			<p><strong>Este site é feito pra você!</strong> A finalidade principal do site EuTeAjudo.org é servir a aquela pessoa que busca ajuda para suas necessidades e angustias. Nosso objetivo e ajudar você a se ajudado. Como dizia Madre Tereza:</p>
		
			<blockquote><p>A todos os que sofrem e estão sós, dai sempre um sorriso de alegria. Não lhes proporciones apenas os vossos cuidados, mas também o vosso coração.</p></blockquote>

			<p>Essa é nossa missão! Queremos que nosso coração seja seu através dos amigos que encontrarão aqui.</p>
	
			<h3>O que encontrará aqui</h3>
			<ul>
				<li>Um ombro amigo, alguém que se importa com você.</li>
                <li>Um espaço para colocar tudo que você sente pra fora, sem precisar se identificar.</li>
                <li>Você será ajudado por alguém que quer te ajudar, não por alguém que sabe sua raça, cor, sexo ou sua classe social.</li>	
                <li>A possibilidade de experimentar o amor verdadeiro em sua vida.</li>								
                <li>Pode ajudar pessoas quando estiver forte.</li>															
			</ul>	
            
            			<h3>O que não encontrará aqui</h3>
			<ul>
				<li>Alguém que faça as coisas pra você.</li>
                <li>Dinheiro.</li>
                <li>Pessoas que lhe darão emprego e vida fácil.</li>								
                <li>Espaço publicitário.</li>								
                <li>Local para se fazer sessões terapêuticas.</li>								
                <li>Encontros casuais ou um site de relacionamento sexual.</li>															
			</ul>		
            <br />			

			<h3>Venha nos conheça mais</h3>
			<p>Entenda um pouco mais como o site EuTeAjudo.org funciona <a href="/quemsomos/">clicando aqui</a> e obtendo mais informações.				
		<br />
        <br />
        <p class="post-footer" align="center">		
			<a href="/amigo/new/ajuda" class="readmore">CLIQUE AQUI E FAÇA SEU CADASTRO</a> 
		</p>
		</div>
   		<div id="main" >	
			<h2><a href="/amigo/new/ajudante" title="">Se você quer ajudar</a></h2>		
			<p><strong>Esse é o local pra ajudar pessoas!</strong> Esse site foi criado pensando em ser um meio para que aquela pessoa que deseja ajudar alguém consiga fazê-lo sem se preocupar com nada mais do que ajudar uma outra pessoa que necessita de ajuda. Nosso desejo é que você consiga sua felicidade plena, pois sabemos que que ajuda seu semelhante, a si mesmo se ajuda no final das contas, como sintetiza Francis Bacon:
		
			<blockquote><p>A amizade duplica as alegrias e divide as tristezas.</p></blockquote>

			<p>Cadastre-se e nos ajude a mudar o mundo de alguém. Você é fundamental para que isso ocorra.</p>
	
			<h3>O que encontrará aqui</h3>
			<ul>
				<li>Amigos aflitos e que precisam de sua ajuda.</li>
                <li>Um espaço para consolar, ajudar e, porque não, deixar-se ser ajudado.</li>
                <li>Um local para também colocar suas angústias quando elas aparecerem.</li>								
			</ul>	
            
           	<h3>O que pedimos muito para prestar atenção</h3>
			<ul>
				<li>Você lidará com almas aflitas, portanto cuidado com o que escreve.</li>
                <li>Não ofereça dinheiro.</li>
                <li>Não faça todas as coisas ou mostre toda a solução para os aflitos. Deixem que eles ganhem suas batalhas, apenas os guie.</li>
                <li>Novamente, cuidado com suas palavras... Elas podem ter um efeito devastador se usadas de maneira danosa</li>								
			</ul>		
            <br />			

			<h3>Venha nos conhecer mais</h3>
			<p>Entenda um pouco mais como o site EuTeAjudo.org funciona <a href="/quemsomos/">clicando aqui</a> e obtendo mais informações.				
		<br />
        <br />
        <br />
        <p class="post-footer" align="center">		
			<a href="/amigo/new/ajudante" class="readmore">CLIQUE AQUI E FAÇA SEU CADASTRO</a> 
		</p>
		</div>
   	</div>
<div id='socialfundo'  style='display:scroll;position:fixed;right:0px;top:90px;text-align:center; background-color:#ffffff; padding: 5px 5px 5px 5px;'>
	<br />
	<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feuteajudo&amp;width=250&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:290px;" allowTransparency="true"></iframe>
	<br /><br /><br />
	Acesse também nossos vídeos<br />
	<a href='http://www.youtube.com/EuTeAjudoORG' target='_blank' title='Veja nossos videos'><img src='/images/youtube-logo1.jpg' width="150" style='border:0px'/></a>
	<br /><br />
	<img src='/images/btfechar.jpg' style='border-style:none; cursor:hand' onclick="document.getElementById('socialfundo').style.visibility = 'hidden';"/>
</div>
