	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="mainQuem">
				
			<h2>Tire suas dúvidas<a name="ComoFunciona"></a></h2></h2>
					
			<p class="post-info">&nbsp;</p>
				
	      <h3><strong><em>Qual o objetivo do site?</em></strong></h3>
			<p>O EuTeAJudo.org foi criado pensando nas pessoas que precisam de  apoio emocional e que precisam ser apoiado pelo verdadeiro amor, por isso  dentro do site suas caracter&iacute;sticas e informa&ccedil;&otilde;es ficam sob um apelido  gerado pelo pr&oacute;prio site (sempre algo como &quot;amigoXXX&quot;). Isso tem a finalidade de permitir que a pessoa seja ajudada pelo seu problema, n&atilde;o por ser mulher/homem, rico/pobre e etc.</p>
			<p>Por isso <span style="color:#F00">&eacute; importante que voc&ecirc; nunca revele dados pessoais ou caracter&iacute;sticas que possam fornecer qualquer informa&ccedil;&atilde;o sobre voc&ecirc;</span>, a n&atilde;o ser que seja estritamente necess&aacute;rio. Se assim for, fa&ccedil;a com muita cautela, sabendo que deve  sempre permanecer an&ocirc;nimo.</p>
          <h3><strong><em>Porque podemos nos cadastrar de duas formas (quem pede  ajuda e quem quer ajudar)?</em></strong></h3>
<p>          Na realidade o cadastro &eacute; o mesmo, contudo para que algu&eacute;m  possa ajudar, precisamos certificar minimamente que essa pessoa seja real e  queira realmente ajudar, por isso o sistema s&oacute; permite que voc&ecirc; esteja  habilitado a ajudar algu&eacute;m se fornecer seu CPF, TELEFONE e PROFISS&Atilde;O. Caso  contr&aacute;rio voc&ecirc; s&oacute; poder&aacute; usar o site para pedir ajuda.</p>
<h3><strong><em>Para que me cadastrar para pedir ajuda? Como fa&ccedil;o isso?</em></strong></h3>
<p>&Eacute; necess&aacute;rio informar algumas informa&ccedil;&otilde;es b&aacute;sicas para que o  site tenha um pequeno controle de quem o acessa. Infelizmente sabemos que as  pessoas n&atilde;o praticam o amor verdadeiro sempre, ent&atilde;o restringir a participa&ccedil;&atilde;o  mediante um cadastro &eacute; necess&aacute;rio para ajudar as pessoas que realmente precisam  de ajuda. N&atilde;o acreditamos que algumas poucas informa&ccedil;&otilde;es (NOME, E-MAIL, CIDADE e  ESTADO) sejam algum empecilho para aqueles que buscam ajuda de verdade. </p>
<p>Para se cadastrar, basta ir at&eacute; a p&aacute;gina principal (clicando  no LOGOTIPO do site ou em HOME), clicar em &ldquo;Clique aqui e fa&ccedil;a seu cadastro&rdquo; na  coluna que desejar (na coluna &ldquo;Se voc&ecirc; precisa de ajuda&rdquo; ou na coluna &ldquo;Se voc&ecirc;  quer ajudar&rdquo;) e preencher seus dados. O sistema lhe informar&aacute; o que deve ser  feito a partir da&iacute;.</p>
<h3><strong><em>Como me cadastro para ajudar algu&eacute;m?</em></strong></h3>
<p>Como j&aacute; dito, o cadastro &eacute; o mesmo, s&oacute; muda os campos que  voc&ecirc; precisa entrar com informa&ccedil;&otilde;es. Para que algu&eacute;m possa ajudar, precisamos  certificar minimamente que essa pessoa seja real e queira realmente ajudar, por  isso o sistema s&oacute; permite que voc&ecirc; esteja habilitado a ajudar algu&eacute;m se  fornecer seu CPF, TELEFONE e PROFISS&Atilde;O. Caso contr&aacute;rio voc&ecirc; s&oacute; poder&aacute; usar o  site para pedir ajuda.</p>
            <p>Se for constatado que as informa&ccedil;&otilde;es que forneceu n&atilde;o s&atilde;o  reais, voc&ecirc; ser&aacute; notificado a retific&aacute;-las. Se insistir, seu acesso ser&aacute;  suspenso.            </p>
            <h3><em><strong>O que significa &ldquo;Desejo receber um e-mail de aviso sempre  que alguma conversa que eu estiver participando tiver novidades&rdquo; no momento que  fa&ccedil;o o cadastro?</strong></em></h3>
          <p>Se voc&ecirc; deixar essa op&ccedil;&atilde;o ativa, o sistema lhe avisar&aacute;  sempre que uma conversa que esteja participando tenha novas postagens (novos  di&aacute;logos).          </p>
          <h3><strong><em>Porque preciso validar o e-mail?</em></strong></h3>
            <p>          O e-mail &eacute; nossa principal fonte de comunica&ccedil;&atilde;o com voc&ecirc;.  Sem um e-mail existente, n&atilde;o temos como falar com voc&ecirc; quando precisarmos. Tamb&eacute;m &eacute; uma forma de barrar um pouco o acesso  de pessoas de m&aacute; &iacute;ndole.</p>
          <h3><strong><em>Como funciona?</em></strong></h3>
            <p>&Eacute; tudo muito  simples! Se voc&ecirc; quer ajuda, se cadastra, acessa o site e cria um &ldquo;pedido  de ajuda&rdquo;. Essa cria&ccedil;&atilde;o gera uma CONVERSA. Uma conversa &eacute; composta de v&aacute;rias  postagens, no site chamado de DI&Aacute;LOGOS. &nbsp;Os amigos que querem ajudar poder&atilde;o ver sua  conversa (pedido de ajuda) e, se desejarem, entrar nela, postando di&aacute;logos de  ajuda. <br />
          </p>
          <p>Se voc&ecirc; vai ajudar, se cadastra, acessa o site (&aacute;rea &ldquo;pessoas  que ajudo&rdquo;) e clica em &ldquo;quero ajudar um amigo&rdquo;. Ent&atilde;o voc&ecirc; ver&aacute; conversa por  conversa que est&atilde;o dispon&iacute;veis no site naquele momento. Se quiser entrar numa conversa, clique em &ldquo;Participar  dessa conversa&rdquo; e voc&ecirc; j&aacute; ser&aacute; direcionado para essa conversa onde &eacute; s&oacute; postar  algo (criar um novo di&aacute;logo). Se n&atilde;o quiser entrar nessa conversa, clique em &ldquo;Ver  outra conversa&rdquo; que o sistema trar&aacute; a pr&oacute;xima conversa pra voc&ecirc; analisar at&eacute;  chegar ao final das conversas dispon&iacute;veis, caso n&atilde;o escolha nenhuma. Voc&ecirc; pode escolhe ajudar quantos amigos quiserem, s&oacute; tome cuidado na aten&ccedil;&atilde;o/tempo que voc&ecirc; ter&aacute; que desprender, caso esteja participando de muitas conversas.</p>
          <h3><strong><em>Quem ajuda pode pedir ajuda?</em></strong></h3>
<p>Claro! Sempre voc&ecirc; vai poder pedir ajuda! A coisa &eacute; bem  simples nesse sentido: qualquer amigo que acesse o site pode pedir ajuda! Apenas para AJUDAR &eacute; necess&aacute;rio o cadastro de mais informa&ccedil;&otilde;es. Para pedir ajuda, &eacute; s&oacute; acessar sua conta e pedir.</p>
          <h3><strong><em>Se eu entrar numa conversa, tem como sair dela depois?</em></strong> </h3>
<p>              Sim! Essa op&ccedil;&atilde;o ficar&aacute; vis&iacute;vel na &aacute;rea &ldquo;pessoas que ajudo&rdquo;  (ao lado de cada conversa que participa) e dentro das conversas em si. </p>
            <p> Por&eacute;m pedimos que pense antes de entrar numa conversa. Se  uma pessoa pede ajuda, passa a ter um amigo ajudando e, de repente, esse amigo  deixa de ajudar, ela poder&aacute; sofrer mais do que sofria antes. Por isso,  certifique-se que a conversa que vai participar &eacute; a que realmente sente vontade  de participar.<br />
          </p>
          <p>Voc&ecirc; s&oacute; n&atilde;o poder&aacute; deixar conversas criadas por voc&ecirc;.</p>
          <h3><strong><em>Se meu pedido de ajuda j&aacute; foi atendido, j&aacute; me sinto melhor,  como fa&ccedil;o pra parar a conversa?</em></strong><br />
          </h3>
<p>Basta voc&ecirc; &ldquo;<em>encerrar</em>&rdquo; a conversa. Isso &eacute; poss&iacute;vel pela &aacute;rea &ldquo;seu  espa&ccedil;o&rdquo;, na op&ccedil;&atilde;o &ldquo;Encerrar&rdquo;, ao lado de cada conversa que criou, ou dentro da pr&oacute;pria conversa.</p>
          <h3><em><strong>Mas e se eu clicar errado ou quiser reativar uma conversa,  consigo?</strong></em><br />
          </h3>
<p>Sim. Basta clicar em &ldquo;Ativar&rdquo; ao lado da conversa encerrada  (na lista de conversas encerrada dentro da &aacute;rea &ldquo;seu espa&ccedil;o&rdquo;) ou dentro da pr&oacute;pria conversa.</p>
          <h3><strong><em>E se um amigo est&aacute; escrevendo coisas que me agridem ou usa  de termos baixos (palavras de baixo cal&atilde;o, ofensas e outros)?</em></strong><br />
          </h3>
<p>Em cada um dos di&aacute;logos (postagens) voc&ecirc; ter&aacute; a op&ccedil;&atilde;o &ldquo;Denunciar&rdquo;  e &ldquo;Bloquear amigo&rdquo;. Escolha qual medida mais lhe agrada e, se quiser, pode usar  as duas. </p>
          <p>Contudo fa&ccedil;a isso no no di&aacute;logo (postagem) que lhe estimulou a essa a&ccedil;&atilde;o, pois ser&aacute; esse di&aacute;logo que o sistema marcar&aacute; como &quot;causador&quot; da a&ccedil;&atilde;o. Voc&ecirc; tamb&eacute;m SEMPRE ter&aacute; que detalhar o motivo dessas a&ccedil;&otilde;es, seja elas  quais forem.  <span style="color:#900">ATEN&Ccedil;&Atilde;O: Denunciar um amigo &eacute; coisa s&eacute;ria! </span>Veja mais  detalhes abaixo.</p>
<h3><em><strong>O que &eacute; denunciar um amigo?</strong></em></h3>
<p><span style="color:#600">ATEN&Ccedil;&Atilde;O: Denunciar um amigo &eacute; coisa s&eacute;ria!</span> Use esse recurso  para di&aacute;logos (postagens) que <strong>realmente trazem coisas graves em seu conte&uacute;do</strong>. Toda  vez que voc&ecirc; faz uma den&uacute;ncia, os gestores do site EuTeAjudo.org ir&atilde;o realizar  uma auditoria na conversa para analisar o que foi denunciado. Se a den&uacute;ncia  proceder, o amigo denunciado ser&aacute; punido com suspens&atilde;o (tempor&aacute;ria ou  permanente). Contudo, o <em>uso indiscriminado afetar&aacute; a capacidade dos gestores do  site EuTeAjudo.org poderem realizar a&ccedil;&otilde;es que visam o bem estar do grupo,  prejudicando a todos.</em> D&ecirc; prefer&ecirc;ncia ao &ldquo;Bloqueio de amigo&rdquo; sempre que for  poss&iacute;vel.</p>
          <h3><em><strong>Quando denuncio um amigo, ele fica sabendo?</strong></em><br />
          </h3>
          <p>N&atilde;o! A den&uacute;ncia s&oacute; &eacute; vis&iacute;vel aos gestores do site, contudo  ela s&oacute; deve ser feita em casos extremos. O amigo tamb&eacute;m continua ativo na sua conversa, portanto a den&uacute;ncia s&oacute; tem efeito investigativo, mas n&atilde;o impede o amigo de continuar a postar di&aacute;logos pra voc&ecirc;. D&ecirc; prefer&ecirc;ncia ao &ldquo;Bloqueio de amigo&rdquo;  sempre que for poss&iacute;vel.<br />
            </p>
          <h3><em><strong>O que &eacute; um bloqueio de amigo?</strong></em><br />
          </h3>
            <p>O bloqueio de amigo <span style="color:#900">RETIRA (apaga) o amigo em quest&atilde;o de  TODAS AS CONVERSAS que ele participa e que s&atilde;o foram criadas por voc&ecirc;</span>. Ele n&atilde;o ser&aacute; retirado de conversas  que n&atilde;o foram criadas por voc&ecirc;, mesmo que voc&ecirc; esteja tamb&eacute;m inserido/participando.<br />
          </p>
          <p>Ao bloquear um amigo, voc&ecirc; deve fornecer o motivo do bloqueio.  Esse motivo ser&aacute; enviado a ele, juntamente com o aviso de bloqueio e ele ser&aacute;  retirado de TODAS as conversas criadas por voc&ecirc; al&eacute;m de N&Atilde;O ser poss&iacute;vel ajudar em novas  conversas enquanto ele permanecer bloqueado.</p>
          <h3><strong><em>Ent&atilde;o um amigo saber&aacute; quando eu bloquear ele?</em></strong><br />
          </h3>
            <p>Sim! Partimos da premissa que as pessoas que usam o site  como &ldquo;pessoas que querem ajudar&rdquo; tem discernimento suficiente para entender essa  situa&ccedil;&atilde;o. Entendemos tamb&eacute;m que muitos problemas causados hoje s&atilde;o porque as  pessoas simplesmente desconhecem os motivos que levaram outras a tomar  determinada a&ccedil;&atilde;o em rela&ccedil;&atilde;o a elas.<br />
          </p>
            <p>Pensando assim, <span style="color:#900">queremos ajudar tamb&eacute;m</span> aqueles que ajudam,  fornecendo uma maneira de entender o que aconteceu para  chegar a ponto de ser banido da conversa em quest&atilde;o (e de todas as outras conversas  que ele esteja envolvido e que sejam criadas pelo amigo que o bloqueou). Com isso, espera-se que a pessoa reflita a amadure&ccedil;a, at&eacute; porque ele n&atilde;o ter&aacute; mais contato com quem o bloqueou at&eacute; que essa pessoa permita.</p>
          <h3><strong><em>E se eu quiser desbloquear esse amigo depois, consigo?</em></strong><br />
          </h3>
<p>Sim. Na &aacute;rea &ldquo;seu espa&ccedil;o&rdquo; h&aacute; uma listagem para &ldquo;amigos  bloqueados&rdquo;. Basta clicar no &ldquo;[D]&rdquo; ao lado do amigo que deseja desbloquear. Ao fazer isso, um e-mail de notifica&ccedil;&atilde;o de desbloqueio ser&aacute; enviado a ele, mas ele dever&aacute;  entrar novamente nas suas conversas caso ele deseje interagir com voc&ecirc;  de novo.</p>
          <h3><strong><em>O que significa &ldquo;S&oacute; quero a ajuda de um amigo apenas&rdquo; quando  cadastro um pedido de ajuda (uma conversa)?</em></strong><br />
          </h3>
<p>Voc&ecirc; pode restringir a conversa a apenas o primeiro amigo  que lhe ajudar, n&atilde;o abrindo espa&ccedil;o para outros entrarem nessa conversa. Se essa  op&ccedil;&atilde;o n&atilde;o for ativa, todos os amigos que desejarem, acessar&aacute; sua conversa e  interagir&aacute; com voc&ecirc; (e com os outros participantes). Voc&ecirc; pode modificar isso  depois, se desejar, na pr&oacute;pria conversa clicando em &ldquo;Desbloquear a participa&ccedil;&atilde;o  de outros amigos&rdquo;.</p>
          <h3><strong><em>O que significa a op&ccedil;&atilde;o &ldquo;Bloquear a participa&ccedil;&atilde;o de outros  amigos&rdquo; na conversa em andamento?</em></strong><br />
          </h3>
<p>Voc&ecirc; pode restringir a conversa a apenas os amigos que est&atilde;o  participando no momento, n&atilde;o permitindo que novos amigos venham a participar. Voc&ecirc;  pode modificar isso depois, se desejar, na pr&oacute;pria conversa clicando em &ldquo;Desbloquear  a participa&ccedil;&atilde;o de outros amigos&rdquo;.</p>
            <p><em>ATEN&Ccedil;&Atilde;O:</em> Isso n&atilde;o restringir&aacute; a conversa entre voc&ecirc; e um amigos apenas. Isso s&oacute; &eacute; poss&iacute;vel no momento da cria&ccedil;&atilde;o da conversa (pedido de ajuda).</p>
<p class="post-footer">		
		<a href="mailto:suporte@euteajudo.org" class="readmore">Entre em contato</a> |<span class="date"> Postado dia:<strong> 07 Junho de 2011</strong></span>	
		</p>

		  <h2>&nbsp;</h2>
		  <h2>Sobre N&oacute;s<a name="SobreNos"></a></h2>
		  <p class="post-info">&nbsp;</p>
		  <p>O site <strong>EuTeAjudo.org</strong> &eacute; totalmente gratu&iacute;to e sem nenhuma preten&ccedil;&atilde;o de ser algum dia pago. Ele foi constru&iacute;do e idealizado para ajudar pessoas, independente da ra&ccedil;a, credo, sexo, cor de pele e qualquer outra poss&iacute;vel caracter&iacute;stica que possamos indevidamente e inconcientemente usar para separar pessoas. </p>
<!--           <p>A sua cria&ccedil;&atilde;o foi feita pela empresa <strong><a href="http://www.arich.com.br/">Arich</a></strong>, porque seu fundador (da Arich e do EuTeAjudo.org) sempre acreditou que s&oacute; com essa premissa de &quot;n&atilde;o-distin&ccedil;&atilde;o&quot; &eacute; que poder&iacute;amos ajudar algu&eacute;m.          </p>
          <blockquote>
            <p>A muitos anos tenho comigo a id&eacute;ia de criar um lugar onde qualquer um encontrasse um ombro amigo ou um amigo no sentido mais profundo dessa palavra. Um amigo que ajudasse outros amigos com amor verdadeiro, sem distin&ccedil;&atilde;o. O EuTeAjudo.org foi criado pra isso e me esfor&ccedil;o para que ele consiga atingir esse objetivo. (Alessandro Emerich)
</p></blockquote>-->
            <p>&Eacute; com esse esp&iacute;rito que o EuTeAjudo.org foi criado. Mas ele s&oacute; ter&aacute; sentido se voc&ecirc; estiver conosco, participando, confiando, sendo ajudado, ajudando e/ou divulgando.</p>
            <p>Fa&ccedil;a parta de nossa id&eacute;ia, cadastre-se!</p>
<p class="post-footer">		
		<a href="mailto:suporte@euteajudo.org" class="readmore">Entre em contato</a> |<span class="date"> Postado dia:<strong> 07 Junho de 2011</strong></span>	
		</p>
          <h2>&nbsp;</h2>
          <h2>Motiva&ccedil;&atilde;o<a name="Motivacao"></a></h2>
          <p class="post-info">&nbsp;</p>
          <p><strong>Simplesmente ajudar!</strong> N&atilde;o queremos mais nada que isso. S&oacute; queremos que voc&ecirc; consiga colocar aqui sua confian&ccedil;a a ponto de descrever seus temores e anseios para que consiga ser ajudado por pessoas que realmente se importam com voc&ecirc; e tenham amor de verdade em seus cora&ccedil;&otilde;es.</p>
          <p class="post-footer">		
		<a href="mailto:suporte@euteajudo.org" class="readmore">Entre em contato</a> |<span class="date"> Postado dia:<strong> 07 Junho de 2011</strong></span>	
		</p>
          <h2>&nbsp;</h2>
          <h2>Contato<a name="Contato"></a></h2>
          <p class="post-info">&nbsp;</p>
            <p>Se ainda tem d&uacute;vidas, reclama&ccedil;&otilde;es, sugest&otilde;es, elogios ou quer dixar um testemunho sobre como esse site ajudou voc&ecirc;, entre em contato pelo e-mail <a rel="license" href="mailto:suporte@euteajudo.org">suporte@euteajudo.org</a> e descreva o desejado. Caso seja algo desconfort&aacute;vel para voc&ecirc;, informe o m&aacute;ximo de dados poss&iacute;veis.<br />
		  </p>	<p class="post-footer">		
		<a href="mailto:suporte@euteajudo.org" class="readmore">Entre em contato</a> |<span class="date"> Postado dia:<strong> 07 Junho de 2011</strong></span>	
		</p>

		<!-- main ends -->	
	  </div>
				
		<div id="sidebar">
			
			<h3>Links</h3>
			<ul class="sidemenu">
			  <li><a href="#ComoFunciona">Tire suas dúvidas</a></li>
			  <li><a href="#SobreNos">Sobre N&oacute;s</a></li>
				<li><a href="#Motivacao">Motiva&ccedil;&atilde;o</a></li>					
				<li><a href="#Contato">Contato</a></li>				
		  </ul>
			
			<h3>&nbsp;</h3>
			<h3>Frases para pensar...</h3>
            <ul class="sidemenu">
            <li>
<p>&quot;Ama o teu pr&oacute;ximo como a ti mesmo&quot; </p>
					
		  <p class="align-right">- Jesus Cristo</p>
	</li><li>
<p>&quot;O senhor n&atilde;o daria banho a um leproso nem por um milh&atilde;o de d&oacute;lares? Eu tamb&eacute;m n&atilde;o. S&oacute; por amor se pode dar banho a um leproso.&quot; </p>
					
		  <p class="align-right">- Madre Teresa de Calcut&aacute;</p>
	</li>				
			<li>
			<p>&quot;Aprenda a gostar, mas gostar mesmo, das coisas que deve fazer e das pessoas que o cercam. Em pouco tempo descobrir&aacute; que a vida &eacute; muito boa e que voc&ecirc; &eacute; uma pessoa querida por todos.&quot; </p>
          <p class="align-right">- Rubem Alves          </p>
          </li><li>
          <p>&quot;O pior dos problemas da gente &eacute; que ningu&eacute;m tem nada com isso.&quot; </p>
          <p class="align-right">- M&aacute;rio Quintana</p>
            </li><li>
            <p>&quot;O mundo &eacute; um lugar perigoso de se viver, n&atilde;o por causa daqueles que fazem o mal, mas sim por causa daqueles que observam e deixam o mal acontecer.&quot; </p>
			<p class="align-right">- Albert Einstein</p>
			</li><li>
			<p>&quot;  O mais perfeito dentre os homens &eacute; aquele que ama o pr&oacute;ximo sem pensar se aquela pessoa &eacute; boa ou m&aacute;.&quot; </p>
			<p class="align-right">-   Maom&eacute;</p>
			</li><li>
			<p>&quot;  Se voc&ecirc; quer transformar o mundo, mexa primeiro em seu interior&quot; </p>
			<p class="align-right">-   Dalai Lama</p>
			</li><li>
			<p>&quot;  Dizeis: darei s&oacute; aos que precisam. Mas os vossos pomares n&atilde;o dizem assim; d&atilde;o para continuar a viver, pois reter &eacute; perecer.&quot; </p>
			<p class="align-right">-   Khalil Gibran</p>
			</li><li>
			<p>&quot;  Saber o que &eacute; certo e n&atilde;o faz&ecirc;-lo &eacute; a pior das covardias.&quot; </p>
			<p class="align-right">-   Conf&uacute;cio</p></li></ul>
      </div>	
  </div>
<div id='socialfundo'  style='display:scroll;position:fixed;right:0px;top:90px;text-align:center; background-color:#ffffff; padding: 5px 5px 5px 5px;'>
	<br />
	<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feuteajudo&amp;width=250&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:290px;" allowTransparency="true"></iframe>
	<br /><br /><br />
	Acesse também nossos vídeos<br />
	<a href='http://www.youtube.com/EuTeAjudoORG' target='_blank' title='Veja nossos videos'><img src='/images/youtube-logo1.jpg' width="150" style='border:0px'/></a>
	<br /><br />
	<img src='/images/btfechar.jpg' style='border-style:none; cursor:hand' onclick="document.getElementById('socialfundo').style.visibility = 'hidden';"/>
</div>
